<ul class="payment-list">
  <!--   <li>
        <button (click)="deletePaymentMock($event)" class="delete-payment" name="B">X</button>
        <div class="date">2020-05-12<span class="edit">edit</span></div>
        <div class="description">This is a test...<span class="edit">edit</span></div>
        <div class="amount">25.00</div>
    </li>
    <li>
        <button (click)="deletePaymentMock($event)" class="delete-payment" name="C">X</button>
        <div class="date">2020-05-12<span class="edit">edit</span></div>
        <div class="description">This is a test...<span class="edit">edit</span></div>
        <div class="amount">35.00</div>
    </li>
    <li>
        <button (click)="deletePaymentMock($event)" class="delete-payment" name="D">X</button>
        <div class="date">2020-05-12<span class="edit">edit</span></div>
        <div class="description">This is a test...<span class="edit"> edit</span></div>
        <div class="amount">45.00</div>
    </li>
    <li>
        <button (click)="deletePaymentMock($event)" class="delete-payment" name="E">X</button>
        <div class="date">2020-05-12<span class="edit">edit</span></div>
        <div class="description">This is a test...<span class="edit"> edit</span></div>
        <div class="amount">55.00</div>
    </li> -->
  <li *ngFor="let pay of payments | keyvalue">
    <button
      (click)="deletePayment($event)"
      class="delete-payment"
      id="{{ pay.value.id }}"
    >
      X
    </button>
    <div class="date">{{ pay.value.date }}</div>
    <div class="description" id="{{ pay.value.id }}">
      {{ pay.value.description }}
    </div>
    <div class="amount" id="{{ pay.value.id }}">
      {{ pay.value.amount }}
    </div>
    <!----------------------------------------------------------------------------------------->
    <span></span>
    <input
      id="{{ pay.value.id_date }}"
      class="i-edit"
      type="date"
      [min]="minDateString"
    />
    <input id="{{ pay.value.id_description }}" class="i-edit" type="text" />
    <input id="{{ pay.value.id_amount }}" class="i-edit" type="text" />
  </li>
</ul>
